<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
	<th:block th:unless="${exception}">
		<link rel="stylesheet" href="/style/PersonalMain.css">
		<link rel="stylesheet" href="/style/aboutMe.css">
		<link rel="stylesheet" th:href="@{/style/introduce.css}">
		<script th:src="@{/script/Personal.js}"></script>
		<script th:src="@{/script/aboutMe.js}"></script>
		<script th:src="@{/script/Introduce.js}"></script>
	</th:block>
	<script th:unless="${exception}">
	
	</script>
</head>
<main layout:fragment="content">
	<th:block th:if="${exception}" th:insert="~{fragments/AboutMeList :: AboutMeList}"></th:block>
	
	<th:block th:unless="${exception}">
		<h1 id="header">PERSONAL</h1>
		<!-- 주인장 정보 -->
		<section id="aboutMe">
			<h2>About Me</h2>
			<form action="#aboutMe" method="post" onsubmit="asyncAboutMe()" th:object="${aboutMe}">
				<label><span>Name</span>
					<input type="text" th:field="*{name}">
				</label>
				<label><span>Eng Name</span>
					<input type="text" th:field="*{eng_name}">
				</label>
				<label><span>Phone</span>
					<input type="text" th:field="*{phone}">
				</label>
				<label><span>Email</span>
					<input type="text" th:field="*{email}">
				</label>
				
				<div id="link"><span>Link</span>
					<th:block th:each="map : *{link}">
						<div class="siteMap">
							<button type="button" class="delete"></button>
							<input type="text" class="value" th:value="${map.getValue()}" th:name="'link[' + ${map.getKey()} + ']'">
							<input type="text" class="site" th:value="${map.getKey()}">
						</div>
					</th:block>
				</div>
				<input type="button" value="링크 추가" onclick="linkAppend()">
				
				<div id="tag">
					<span>Tag</span>
					<th:block th:each="list : *{tag}">
						<div class="tagList">
							<button type="button" class="delete"></button>
							<input type="text" name="tag" th:value="${list}">
						</div>
					</th:block>
				</div>
				<input type="button" value="태그 추가" onclick="tagAppend()">
				<th:block th:if="*{id!=null}">
					<input type="hidden" name="id" id="aboutMeId" th:value="*{id}">
				</th:block>
				<input type="submit" value="작성 완료" id="aboutMeMessage">
			</form>
		</section>
		
		<!-- 자기소개서 -->
		<section id="introduce">
			<h2>Introduction</h2>
			<article id="introduce-container">
				<form action="#introduction" method="post" th:each="list, s: ${introduction}">
					<div><span>제목</span>
						<span class="introduction_title">
							<button type="button" class="delete"></button>
							<input type="text" name="field" th:value="${list.getField()}">
						</span>
					</div>
					<label><span>내용</span>
						<textarea name="content" th:text="${list.getContent()}"></textarea>
					</label>
					<th:block th:if="*{list.getId()!=null}">
						<input type="hidden" name="id" th:value="*{list.getId()}">
					</th:block>
					<input type="submit" class="save" value="작성 완료">
				</form>
			</article>
			<input type="button" value="자기소개 추가" onclick="introductionAppend()">
		</section>
		
		<!-- 성장배경 -->
		<section>
			<h2>Growth</h2>
			<form action="/personal/growth" onsubmit="console.log('ㅎㅇ')">
				<button>ㅎㅇ</button>
			</form>
		</section>
		
		<!-- 상훈기록 -->
		<section>
			<h2>Award</h2>
			<form action="">
			
			</form>
		</section>
	</th:block>
</main>
</html>