<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Title</title>
	<style>
		.container{
			margin: 10px 0;
			padding: 10px;
			border: 2px solid #ddd;
		}
		h1,h2,h3,h4,h5,h6{
			margin: 0;
		}
	</style>
</head>
<body>
<h1 class="container">타임리프의 주된 기능은 th:### 형식으로 입력함 </h1>
<article class="container">
	<h3>직접 문자 삽입</h3>
	<div th:text="${msg}">속성 값에 지정된 값을 Sanitize 하여 출력합니다.</div>
	<!-- <div th:utext="${sanitize}">속성 값에 지정된 값을 출력합니다.</div> -->
	<div>Sanitize : 위험한 코드나 데이터를 변환 또는 제거하여 무력화 하는 것</div>
	<hr>
	
	<h3>인라인 처리</h3>
	<div>안녕하세요! [[${msg}]]입니다</div>
	<hr>
	
	<h3>값 결합</h3>
	<div th:text="'안녕하세요! ' + ${msg} + '입니다'">값 결합</div>
	<div th:text="|안녕하세요! ${msg}입니다|"></div>
</article>
<article class="container">
	<h3>지역 변수</h3>
	<div th:with="a=1,b=2">
		<span th:text="|${a} + ${b} = ${a+b}|"></span>
	</div>
</article>
<article class="container">
	<h3>비교와 등가</h3>
	<div class="container">
		<span th:text="1>=10">false</span>,
		<span th:text="1<=10">true</span>,
		<span th:text="1==10">false</span>,
		<span th:text="1!=10">true</span>,
		<span th:text="${msg}==thymeleaf">true</span>,
		<span th:text="${msg}!=thymeleaf">false</span>
	</div>
	<hr>
	
	<h3>조건(삼항) 연산자</h3>
	<div th:text="${msg}=='thymeleaf'?'thymeleaf':'JSP'"></div>
	<hr>
	
	<h3>조건 분기</h3>
	<div th:if="${msg}=='thymeleaf'">true : ㅎㅇ</div>
	<div th:unless="${msg}=='JSP'">false : ㅂㅇ</div>
	<hr>
	
	<h3>switch</h3>
	<div th:switch="${msg}">
		<span th:case="thymeleaf" th:text="|${msg} 입니다|"></span>
		<span th:case="JSP" th:text="|구닥다리 ${msg} 입니다|"></span>
		<span th:case="*">템플릿 엔진</span>
	</div>
</article>
<article class="container">
	<h3>참조</h3>
	<div>
		Map 데이터를 결합한 객체 참조 ->
		<span th:text="${mp.get('name')}"></span>
		<span th:text="${mp['type']}"></span>

	</div>
	<hr>
	<div th:object="${mp}">
		th:object 참조 ->
		<span th:text="*{get('name')}"></span>
		<span th:text="*{get('type')}"></span>
	</div>
	<hr>
	<form action="#" method="post" th:object="${hv}">
		vo Object 참조
		<input type="text" th:value="*{name}">
		<input type="text" th:value="*{['age']}">
	</form>
	<hr>
	<div>
		List Object 참조
		<span th:text="${li[0]}"></span>
		<span th:text="${li[1]}"></span>
		<span th:text="${li[2]}"></span>
		<span th:text="${li[3]}"></span>
	</div>
</article>
<article class="container">
	<h3>반복</h3>
	<div th:each="member : ${hli}">
		<div th:text="|${member.name} : ${member.age}|"></div>
	</div>
	<hr>
	<div th:each="member, s : ${hli}" th:object="${member}" class="container">
		<div th:text="|${s.index} : *{name} : *{age} |"></div>
		count :   <span th:text="${s.count}">1부터 시작하는 인덱스</span>,
		size :    <span th:text="${s.size}">반복처리하는 객체의 사이즈</span>,
		current : <span th:text="${s.current}">현재 반복 요소의 객체를 표시</span>,
		even :    <span th:text="${s.even}">현재 요소의 인덱스가 짝수(true)인지</span>,
		odd :     <span th:text="${s.odd}">현재 요소의 인덱스가 홀수(true)인지</span>,
		first :   <span th:text="${s.first}">첫번째 요소인지</span>,
		last :    <span th:text="${s.last}">마지막 요소인지</span>
	</div>
</article>
<article class="container">
	<h3>유틸리티 객체 : ${#~~~}을 통하여 다양한 기능 제공</h3>
</article>
<article class="container">
	<h3>fragment : 다른 Template 삽입하기</h3>
	<div id="one" th:insert="example/fragment :: one">fragment 태그 자체를 가져옴</div>
	<div id="two" th:include="example/fragment :: two">fragment 태그 안의 값만 가져옴</div>
	<div id="three" th:replace="/example/fragment :: three">해당하는 div 조차 대체됨</div>
</article>
</body>
</html>