<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<style>
		*{
			box-sizing: border-box;
		}
		form{
			width: 500px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			padding: 10px;
		}
		input, textarea{
			width: 100%;
		}
	</style>
</head>
<body>
<h1>글 작성</h1>
<!--<div th:text="${#request.contextPath}"></div>-->
<th:block th:switch="${write}">
	<th:block th:case="true" th:insert="example/community/fragment/writeForm :: write"></th:block>
	<th:block th:case="false" >
		<form th:action="@{/community/writeAction}" method="post" th:object="${detail}" th:fragment="edit">
			<input type="hidden" name="id" th:value="*{id}">
			<label for="title">제목 :</label>
			<input type="text" name="title" id="title" th:field="*{title}">
			
			<label for="content">글 내용:</label>
			<textarea name="content" id="content" th:field="*{content}"></textarea>
			<hr>
			<input type="submit" value="제출하기">
		</form>
	</th:block>
</th:block>
</body>
</html>